.git/
wandb/
save_model/
checkpoint-*/
audio/
cache/
*.pyc
vocab.json
naver_cloud_key.py
tts_test.mp3
.venv
data
*.woff
check.py
transfer_file.json
AI_HUB
.ipynb_checkpoints
*.json
requirements.txt
*.csv
*.wav
*.mp3
.cache/
.ipython/
.local/
.vscode-server/
.profile
.wget-hsts
text_data/
nltk_data/
data/
.bash_history
nohup.out
.dotnet/
tmp/
test/
*.yaml
*.bin
sqlite_db
