{% extends 'base.html' %}
{% block column_left %}
<link rel="stylesheet" href="../static/css/main.css">
    <div class="todays_word">
        <p style="font-weight: 750;">오늘의 단어</p>
        <div class="word_box">
            <div class="word" id = "word_box1" onclick="word1_click()" >{{word1}}</div>
        </div>
        <div class="word_box">
            <div class="word" id = "word_box2" onclick="word2_click()" >{{word2}}</div>
        </div>
        <div class="word_box">
            <div class="word" id = "word_box3" onclick="word3_click()" >{{word3}}</div>
        </div>
    </div>
    <script src="../static/js/main.js"></script>
{% endblock %}

{% block column_right %}
    {% if user != '' %}
        <div class="grass" style="margin-top: 5%;">
            {% for i in range(100) %}
                {% if i % 10 == 0 %}
                    <div></div>
                {% endif %}
                {% if attend[i] %}
                    <div class="grid" style="background-color:  #00CFFD;"></div>
                {% else %}
                    <div class="grid" style="background-color: rgb(230, 230, 230);"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
<script src="../static/js/main.js"></script>
{% endblock %}