{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/word_learning.css">

<div>
    <div class="todays_word">
        <p style="font-weight: 750;">오늘의 단어</p>
        <div class="word_card">
            <div id="word">
                <span>{{word}} [{{pronounce}}]</span>
                <button id="pronounce" type="button" onclick="play()">
                    <img id="pronounce_button" src="../static/src/img/play.png" alt="발음 듣기">
                </button>
            </div>
            <div id="explanation">
                <p id="audio" hidden>{{audio}}</p>
                <div>{{explanation}}</div>
            </div>        
        </div>
        
        <div id="recording">
            <button id="record" onclick="record()">
                <img id="record_button" src="../static/src/img/record.png">
            </button>
            <audio id="play" controls>재생</audio>
            <p id="user_audio" hidden>{{user_audio}}</p>
        </div>

        <div style="padding-top: 3%; padding-left: 5%; height: 15%; width: 85%; text-align: center; font-size: 1.5vw; font-weight: 900;">
            <span
            {% for idx in user_pronounce %}
                {% if user_pronounce[loop.index-1] != pronounce[loop.index-1] %}
                    ><span style="color: red;">{{user_pronounce[loop.index-1]}}</span
                {% else %}
                    ><span>{{user_pronounce[loop.index-1]}}</span
                {% endif %}
            {% endfor %}
            >
        </div>
    </div>
</div>
<script src="../static/js/word_learning.js"></script>
{% endblock %}