{% extends 'base.html' %}
{% block column_left %}
<link rel="stylesheet" href="../static/css/word_learning.css">

<div>
    <div class="todays_word">
        <div class="word_card_top">
            {% if add_or_today == 'today' %}
                <p style="font-weight: 750;">오늘의 단어</p>
            {% else %}
                <p style="font-weight: 750;">학습 추천 단어</p>
            {% endif %}
            <form id="home" method="POST" action="/">
                <input type="image" src="../static/src/img/home.png" type="submit" class="home_button">
            </form>
        </div> 

        <div class="word_card">
            <div id="word">
                <span>{{word}} [{{pronounce}}]</span>
                <button id="pronounce" type="button" onclick="play()">
                    <img id="pronounce_button" src="../static/src/img/play.png" alt="발음 듣기">
                </button>
            </div>
            <div id="explanation">
                <p id="audio" hidden>{{audio}}</p>
                <div>{{explanation}}</div>
            </div>        
        </div>
        
        <div id="recording">
            <button id="record">
                    <img id="record_button" src="../static/src/img/record_{{lang}}.png">
            </button>
            <audio id="play" controls>재생</audio>
            <p id="user_audio" hidden>{{user_audio}}</p>
        </div>

        <div id="user_word" name="유저 발음 비교">
            <span
            {% for idx in user_pronounce %}
                {% if user_pronounce[loop.index-1] != pronounce[loop.index-1] %}
                    ><span style="color: red;">{{user_pronounce[loop.index-1]}}</span
                {% else %}
                    ><span>{{user_pronounce[loop.index-1]}}</span
                {% endif %}
            {% endfor %}
            >
        </div>

        <div id="bottom_btn" name="단어 학습 페이지 하단 버튼">
            {% if add_or_today == 'today' %} 
                <form class="arrow" id="prev" method="POST" action="go_prev_word">
                    <input type="image" src="../static/src/img/prev.png" type="submit" class="move_button">
                </form>
            {% else %}
                <form class="arrow" id="prev" method="POST" action="go_prev_page">
                    <input type="image" src="../static/src/img/prev.png" type="submit" class="move_button">
                </form>
            {% endif %}
            <div name="추가 단어" style="padding-left: 20%;">
                <div id='word1' onclick="word1_click()" class="add_word">{{add[0]}}</div>
                <div id='word2' onclick="word2_click()" class="add_word">{{add[1]}}</div>
                <div id='word3' onclick="word3_click()" class="add_word">{{add[2]}}</div>
                <p id="add_or_today" hidden>{{add_or_today}}</p>
            </div>
            
            {% if add_or_today == 'today' %} 
                <form class="arrow" id="next" method="POST" action="go_next_word">
                    <input type="image" src="../static/src/img/next.png" type="submit" class="move_button">
                </form>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    var language = '{{lang}}'
</script>
<script src="../static/js/word_learning.js"></script>
{% endblock %}

{% block column_right %}
<link rel="stylesheet" href="../static/css/word_learning.css">
<div name="음운 변동 규칙" class="rule">
    <h3>{{rule[0]}}</h3>
    <p style="font-size: 1vw;">{{rule[1]}}</p>
</div>
{% endblock %}