@font-face {
    font-family: 'GladlyAccept';
    src: url('./font/GladlyAcceptRegular-Wyjov.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.button_start {
    border:none;
    background-color: #0081C9;
    font-family: 'GladlyAccept';
}
.button_start:hover {
    font-weight: bolder;
}
img.show{
    height: 10%;
    width: 10%;
}
.recording {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}