<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>study</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Montserrat:wght@300;400;600;700&family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color:#0081C9;">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div>
      <center>
        <h7 style="margin-top:5%; margin-bottom:3%; font-family: 'Montserrat', sans-serif; font-size:8vw;">Listen and Repeat</h7>
        <h6 style="margin-bottom:4%; font-family: 'Montserrat', sans-serif; font-size: 5vw;">{{data}}</h6>
        <audio src="{{ url_for('static', filename=audio) }}" style ="position: static;"controls></audio>
        <br><br>
        <button id="recButton">녹음하기</button>
        <br><br>
        <audio id ='recAudio' method="POST" controls>녹음된 소리를 재생할 audio 엘리먼트</audio>
          
      </center>
    </div>

  </body>
  <script>

    // audio, button 태그 취득
    const $audioEl = document.getElementById('recAudio');
    const $btn = document.getElementById('recButton');
  
    // 녹음 상태 체크용 변수
    let isRecording = false;
  
    // MediaRecorder 변수 생성
    let mediaRecorder = null;
  
    // 녹음 데이터(Blob) 조각 저장 배열
    const audioArray = [];
  
  
    // 녹음 시작/종료 버튼 클릭 이벤트 처리
    $btn.onclick = async function (event) {
  
      // 녹음 중이 아닌 경우에만 녹음 시작 처리
      if (!isRecording) {
  
        // 마이크 mediaStream 생성: Promise를 반환하므로 async/await 사용
        const mediaStream = await navigator.mediaDevices.getUserMedia({ audio: true });
  
        // MediaRecorder 생성: 마이크 MediaStream을 인자로 입력
        mediaRecorder = new MediaRecorder(mediaStream);
  
        // 이벤트핸들러: 녹음 데이터 취득 처리
        mediaRecorder.ondataavailable = (event) => {
          audioArray.push(event.data); // 오디오 데이터가 취득될 때마다 배열에 담아둔다.
        }
  
        // 이벤트핸들러: 녹음 종료 처리 & 재생하기
        mediaRecorder.onstop = (event) => {
  
          // 녹음이 종료되면, 배열에 담긴 오디오 데이터(Blob)들을 합친다: 코덱도 설정해준다.
          const blob = new Blob(audioArray, { "type": "audio/wav" });
          audioArray.splice(0); // 기존 오디오 데이터들은 모두 비워 초기화한다.
  
          // Blob 데이터에 접근할 수 있는 객체URL을 생성한다.
          const blobURL = window.URL.createObjectURL(blob);
  
          // audio엘리먼트로 재생한다.
          $audioEl.src = blobURL;
          $audioEl.play();
        }
  
        // 녹음 시작
        mediaRecorder.start();
        isRecording = true;
  
      } else {
        // 녹음 종료
        mediaRecorder.stop();
        isRecording = false;
      }
    }
  
  </script>
</html>