p {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 3.2vw;
}

.todays_word{
    margin: 0;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 15px;
    height: 100%;
    width: 90%;
    padding: 30px;
    padding-top: 0;

}

.todays_word:after {
    content: "";
    display: table;
    clear: both;
  }

.word_box{
    background-image: linear-gradient(to bottom right, #78E7FF, #00CFFD);
    border-radius: 20px;
    color: #FFFFFF;
    float: left;
    width: 27%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: inset;
    font-weight: 500;
    font-size: 1.8vw;
    position: relative;
    margin-bottom: 30px;
}

.word_box:hover {
    cursor: pointer;
}

.word_box:after {
    display: block;
    content: "";
    padding-bottom: 100%;
}

.word {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5%;
    font-size: 1em;
    
  }

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    .todays_word{
      width: 100%;
      padding: 0;
      text-align: center;
    }
    p{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        font-size: 2em;
    }
    .word_box {
        display:block;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10%;
        width: 70%;
    }
    .word {
        font-size: 20px;
    }
}

.grass {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10%;
    width: 80%;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    float: left;
    height: 100%;
}

.grid {
    height: 1vw;
    width: 1vw;
    border-radius: 2px;
    border-style: hidden;
    display: inline-block;
}

